In [43]:
import json
import pandas as pd
import numpy as np

In [44]:
with open("df_1hour_Feb.json", 'r', encoding='UTF-8') as f:
    F_data = json.load(f)

In [45]:
with open("df_1hour_Mar.json", 'r', encoding='UTF-8') as f:
    M_data = json.load(f)

In [46]:
COLUMNS = ['name', 'code', 'time', 'price', 'time_1', 'price_1', 'price_dif_1', 'sell_1', 'buy_1', 'volume_1', 'variation_1', 'post_num_1', 'unique_id_1', 'click_1', 'like_1', 'dislike_1', 'time_2', 'price_2', 'price_dif_2', 'sell_2', 'buy_2', 'volume_2', 'variation_2', 'post_num_2', 'unique_id_2', 'click_2', 'like_2', 'dislike_2', 'time_3', 'price_3', 'price_dif_3', 'sell_3', 'buy_3', 'volume_3', 'variation_3', 'post_num_3', 'unique_id_3', 'click_3', 'like_3', 'dislike_3', 'mkt_cap', 'kospi', 'kosdaq', 'trash', 'yesterday_closing_price', 'is_maximum', 'is_minimum', 'price_volatility', 'price_trend', 'average_price_volatility', 'sell_minus_buy_1', 'sell_minus_buy_2', 'sell_minus_buy_3', 'is_price_gap_stable', 'price_gap_volatility', 'is_like_higher', 'volume_trend', 'post_num_trend', 'unique_id_trend', 'click_trend', 'price_increase', 'did_price_increase', 'did_price_033', 'did_price_100', 'did_price_150', 'kospi_ind', 'kosdaq_ind', 'time_slot', 'ko_inter', 'early_mor', 'morning', 'lunch', 'afternoon', 'late', 'mkt_change', 'alpha', 'per_now', 'kospi_1', 'kospi_2', 'kospi_3', 'kospi_answer', 'kosdaq_1', 'kosdaq_2', 'kosdaq_3', 'kosdaq_answer', 'kospi_trend', 'kosdaq_trend', 'kospi_increase', 'kosdaq_increase', 'market_increase', 'did_opening_price_increase', 'price_1_sq', 'price_dif_1_sq', 'sell_1_sq', 'buy_1_sq', 'volume_1_sq', 'variation_1_sq', 'post_num_1_sq', 'unique_id_1_sq', 'click_1_sq', 'like_1_sq', 'dislike_1_sq', 'price_2_sq', 'price_dif_2_sq', 'sell_2_sq', 'buy_2_sq', 'volume_2_sq', 'variation_2_sq', 'post_num_2_sq', 'unique_id_2_sq', 'click_2_sq', 'like_2_sq', 'dislike_2_sq', 'price_3_sq', 'price_dif_3_sq', 'sell_3_sq', 'buy_3_sq', 'volume_3_sq', 'variation_3_sq', 'post_num_3_sq', 'unique_id_3_sq', 'click_3_sq', 'like_3_sq', 'dislike_3_sq', 'mkt_cap_sq', 'yesterday_closing_price_sq', 'price_volatility_sq', 'price_trend_sq', 'average_price_volatility_sq', 'sell_minus_buy_1_sq', 'sell_minus_buy_2_sq', 'sell_minus_buy_3_sq', 'price_gap_volatility_sq', 'volume_trend_sq', 'post_num_trend_sq', 'unique_id_trend_sq', 'click_trend_sq', 'kospi_ind_sq', 'kosdaq_ind_sq', 'time_slot_sq', 'ko_inter_sq', 'mkt_change_sq', 'alpha_sq', 'per_now_sq', 'kospi_1_sq', 'kospi_2_sq', 'kospi_3_sq', 'kosdaq_1_sq', 'kosdaq_2_sq', 'kosdaq_3_sq', 'kospi_trend_sq', 'kosdaq_trend_sq']

In [47]:
df_F = pd.DataFrame(F_data, columns = COLUMNS)
df_M = pd.DataFrame(M_data, columns = COLUMNS)
df = pd.concat([df_F, df_M])

In [48]:
df = df.dropna(axis=0, how='any')

In [49]:
with open("KNN_mod.json", 'r', encoding='UTF-8') as f:
    KNN = json.load(f)

In [50]:
with open("Logistic_mod.json", 'r', encoding='UTF-8') as f:
    Logistic = json.load(f)

In [51]:
with open("PLS_mod.json", 'r', encoding='UTF-8') as f:
    PLS = json.load(f)

In [52]:
with open("RF_mod.json", 'r', encoding='UTF-8') as f:
    RF = json.load(f)

In [53]:
with open("BAGGING_mod.json", 'r', encoding='UTF-8') as f:
    BAG = json.load(f)

In [68]:
KNN_mod = pd.DataFrame(np.nan, index=range(df.shape[0]), columns=['KNN'])

In [69]:
KNN_val = pd.DataFrame(KNN, index = range(5425, 13596), columns=['KNN'])

In [70]:
KNN_mod.update(KNN_val)

In [71]:
PLS_mod = pd.DataFrame(np.nan, index=range(df.shape[0]), columns=['PLS'])

In [72]:
PLS_val = pd.DataFrame(PLS, index = range(5425, 13596), columns=['PLS'])

In [73]:
PLS_mod.update(PLS_val)

In [75]:
LOG_mod = pd.DataFrame(np.nan, index=range(df.shape[0]), columns=['Logistic'])

In [76]:
LOG_val = pd.DataFrame(Logistic, index = range(5425, 13596), columns=['Logistic'])

In [77]:
LOG_mod.update(LOG_val)

In [78]:
RF_mod = pd.DataFrame(np.nan, index=range(df.shape[0]), columns=['Random Forest'])
RF_val = pd.DataFrame(RF, index = range(5425, 13596), columns=['Random Forest'])
RF_mod.update(RF_val)

In [79]:
BAG_mod = pd.DataFrame(np.nan, index=range(df.shape[0]), columns=['Bagging'])
BAG_val = pd.DataFrame(BAG, index = range(5425, 13596), columns=['Bagging'])
BAG_mod.update(BAG_val)

In [80]:
df = df.reset_index()

In [81]:
df = pd.concat([df, KNN_mod, PLS_mod, LOG_mod, RF_mod, BAG_mod], axis = 1)

In [82]:
df

,level_0,index,name,code,time,price,time_1,price_1,price_dif_1,sell_1,...,KNN,PLS,Logistic,Random Forest,Bagging,KNN,PLS,Logistic,Random Forest,Bagging
0,0,0,호텔신라,008770,2018-02-14 10:30,83400,2018-02-14 09:10,84700,1800,84800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,대한광통신,010170,2018-02-14 10:30,7030,2018-02-14 09:10,7060,90,7060,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,포스코 ICT,022100,2018-02-14 10:30,8290,2018-02-14 09:10,8310,0,8330,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,한화케미칼,009830,2018-02-14 10:30,32450,2018-02-14 09:10,32700,550,32700,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4,지엘팜텍,204840,2018-02-14 10:30,4780,2018-02-14 09:10,4680,50,4700,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,5,코웰패션,033290,2018-02-14 10:30,5340,2018-02-14 09:10,5270,90,5280,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,6,대한항공,003490,2018-02-14 10:30,35550,2018-02-14 09:10,35700,300,35750,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,7,대한뉴팜,054670,2018-02-14 10:30,13700,2018-02-14 09:10,13800,0,13800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,8,레드캡투어,038390,2018-02-14 10:30,15300,2018-02-14 09:10,15350,100,15350,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,9,이마트,139480,2018-02-14 10:30,289000,2018-02-14 09:10,283500,5000,284000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10,10,녹십자,006280,2018-02-14 10:30,206000,2018-02-14 09:10,201000,1500,201000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11,11,GS,078930,2018-02-14 10:30,63300,2018-02-14 09:10,62600,100,62700,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12,12,CJ헬로,037560,2018-02-14 10:30,8880,2018-02-14 09:10,8650,230,8650,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,13,13,모토닉,009680,2018-02-14 10:30,10100,2018-02-14 09:10,10300,50,10300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,14,14,AJ렌터카,068400,2018-02-14 10:30,10450,2018-02-14 09:10,10400,0,10550,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,15,15,한국전자홀딩스,006200,2018-02-14 10:30,793,2018-02-14 09:10,795,-3,795,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,16,16,일진머티리얼즈,020150,2018-02-14 10:30,32250,2018-02-14 09:10,32300,350,32250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,17,17,코위버,056360,2018-02-14 10:30,7780,2018-02-14 09:10,7870,120,7890,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,18,18,앱클론,174900,2018-02-14 10:30,55200,2018-02-14 09:10,54300,0,54300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,19,19,디에이치피코리아,131030,2018-02-14 10:30,10500,2018-02-14 09:10,10400,350,10450,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,20,20,지스마트글로벌,114570,2018-02-14 10:30,13750,2018-02-14 09:10,13850,650,13900,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,21,21,씨케이에이치,900120,2018-02-14 10:30,836,2018-02-14 09:10,846,1,852,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,22,22,삼우엠스,082660,2018-02-14 10:30,823,2018-02-14 09:10,828,12,828,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,23,23,인트론바이오,048530,2018-02-14 10:30,38550,2018-02-14 09:10,37650,-100,37650,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,24,24,휴온스,243070,2018-02-14 10:30,96100,2018-02-14 09:10,94000,1900,94100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,25,25,알서포트,131370,2018-02-14 10:30,2730,2018-02-14 09:10,2730,35,2735,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,26,26,에스에너지,095910,2018-02-14 10:30,6670,2018-02-14 09:10,6710,50,6710,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,27,27,키움증권,039490,2018-02-14 10:30,106500,2018-02-14 09:10,106000,500,106000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,28,28,녹십자셀,031390,2018-02-14 10:30,50500,2018-02-14 09:10,49750,-250,49800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,29,29,성광벤드,014620,2018-02-14 10:30,12000,2018-02-14 09:10,12200,150,12250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13566,13566,150,제룡산업,147830,2018-03-02 14:30,9230,2018-03-02 13:10,9310,350,9310,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
13567,13567,151,대한제강,084010,2018-03-02 14:30,8990,2018-03-02 13:10,8950,-50,8990,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
13568,13568,152,셀바스헬스케어,208370,2018-03-02 14:30,5500,2018-03-02 13:10,5490,-50,5490,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
13569,13569,153,서진오토모티브,122690,2018-03-02 14:30,3995,2018-03-02 13:10,3945,-75,3945,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
13570,13570,154,동국산업,005160,2018-03-02 14:30,3920,2018-03-02 13:10,3920,10,3925,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
13571,13571,155,NICE,034310,2018-03-02 14:30,15900,2018-03-02 13:10,15600,650,15600,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
13572,13572,156,하이록코리아,013030,2018-03-02 14:30,23900,2018-03-02 13:10,23900,-750,23950,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
13573,13573,157,iMBC,052220,2018-03-02 14:30,3280,2018-03-02 13:10,3285,-5,3285,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
13574,13574,158,오픈베이스,049480,2018-03-02 14:30,3775,2018-03-02 13:10,3770,50,3770,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
13575,13575,159,삼보판지,023600,2018-03-02 14:30,8940,2018-03-02 13:10,8790,340,8810,...,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0
13576,13576,160,우리이티아이,082850,2018-03-02 14:30,1345,2018-03-02 13:10,1345,0,1350,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0
13577,13577,161,이화전기,024810,2018-03-02 14:30,349,2018-03-02 13:10,352,8,352,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13578,13578,162,미래컴퍼니,049950,2018-03-02 14:40,104000,2018-03-02 13:20,104500,-600,104700,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
13579,13579,163,동양생명,082640,2018-03-02 14:40,7070,2018-03-02 13:20,7060,-130,7060,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
13580,13580,164,골든센츄리,900280,2018-03-02 14:40,987,2018-03-02 13:20,984,-6,985,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
13581,13581,165,모헨즈,006920,2018-03-02 14:40,8630,2018-03-02 13:20,9190,640,9190,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
13582,13582,166,크라운제과,264900,2018-03-02 14:40,13800,2018-03-02 13:20,13900,0,13900,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
13583,13583,167,지엠비코리아,013870,2018-03-02 14:40,9380,2018-03-02 13:20,9410,10,9420,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
13584,13584,168,제룡산업,147830,2018-03-02 14:40,9250,2018-03-02 13:20,9310,350,9310,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
13585,13585,169,대한제강,084010,2018-03-02 14:40,8980,2018-03-02 13:20,8940,-60,8990,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
13586,13586,170,셀바스헬스케어,208370,2018-03-02 14:40,5500,2018-03-02 13:20,5490,-50,5490,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
13587,13587,171,서진오토모티브,122690,2018-03-02 14:40,3990,2018-03-02 13:20,3945,-75,3945,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
13588,13588,172,동국산업,005160,2018-03-02 14:40,3920,2018-03-02 13:20,3920,10,3920,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
13589,13589,173,NICE,034310,2018-03-02 14:40,16000,2018-03-02 13:20,15700,750,15700,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
13590,13590,174,하이록코리아,013030,2018-03-02 14:40,23900,2018-03-02 13:20,23900,-750,23950,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
13591,13591,175,iMBC,052220,2018-03-02 14:40,3280,2018-03-02 13:20,3260,-30,3285,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
13592,13592,176,오픈베이스,049480,2018-03-02 14:40,3790,2018-03-02 13:20,3745,25,3750,...,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0
13593,13593,177,삼보판지,023600,2018-03-02 14:40,8990,2018-03-02 13:20,8820,370,8820,...,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0
13594,13594,178,우리이티아이,082850,2018-03-02 14:40,1345,2018-03-02 13:20,1340,-5,1340,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
13595,13595,179,이화전기,024810,2018-03-02 14:40,350,2018-03-02 13:20,351,7,352,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [41]:
df.iloc[1]

index                             1
name                          대한광통신
code                         010170
time               2018-02-14 10:30
price                          7030
time_1             2018-02-14 09:10
price_1                        7060
price_dif_1                      90
sell_1                         7060
buy_1                          7050
volume_1                     101713
variation_1                    3250
post_num_1                        0
unique_id_1                       0
click_1                           0
like_1                            0
dislike_1                         0
time_2             2018-02-14 09:20
price_2                        7010
price_dif_2                      40
sell_2                         7010
buy_2                          7000
volume_2                     149051
variation_2                    1772
post_num_2                        0
unique_id_2                       0
click_2                           0
like_2                            0
dislike_2                         0
time_3             2018-02-14 09:30
                         ...
kospi_ind_sq               0.869156
kosdaq_ind_sq              0.937375
time_slot_sq                      4
ko_inter_sq                0.814725
mkt_change_sq              0.937375
alpha_sq                   0.372113
per_now_sq                  2.49069
kospi_1_sq              5.83512e+06
kospi_2_sq              5.81639e+06
kospi_3_sq              5.80931e+06
kosdaq_1_sq                  698929
kosdaq_2_sq                  690844
kosdaq_3_sq                  694172
kospi_trend_sq              3854.75
kosdaq_trend_sq             19942.3
level_0                           1
index                             1
KNN                             NaN
level_0                           1
index                             1
PLS                             NaN
level_0                           1
index                             1
Logistic                        NaN
level_0                           1
index                             1
Random Forest                   NaN
level_0                           1
index                             1
Bagging                         NaN
Name: 1, Length: 168, dtype: object

In [83]:
df.to_json('model_df_weiwei.json', orient='values')

In [57]:
'''
df['KNN_ans'] = 1 + (df['KNN'] * df['price_increase']) - 0.0033
'''

In [58]:
'''
gb = pd.DataFrame(df.groupby('time')['KNN_ans'].mean()).reset_index()
'''

In [59]:
'''
gb['KNN_balance'] = np.nan
'''

In [60]:
'''
for idx, row in gb.iterrows():
    if idx == 93:
        gb.set_value(idx, 'KNN_balance', row['KNN_ans'])
    else:
        gb.set_value(idx, 'KNN_balance', row['KNN_ans'] * gb.iloc[idx - 1]['KNN_balance'])
'''