In [314]:
import pandas as pd
import numpy as np
import json
import re

In [346]:
def open_files(date):
    focus_text = "2018-02-" + date + "_focus/2018-02-" + \
                 date + "_focus_group.json"
    krx_text = "krx_code.json"
    increase_text = "2018-02-" + date + "_opening_increase.json"
    price_text = "2018-02-" + date + "_price_and_everything.json"
    with open(focus_text, 'r', encoding='UTF-8') as focus_group:
        focus = json.load(focus_group)
    with open(krx_text, 'r', encoding='UTF-8') as krx:
        krx_code = json.load(krx)
    with open(increase_text, 'r', encoding='UTF-8') as oi:
        INCREASE = json.load(oi)
    with open(price_text, 'r', encoding='UTF-8') as oi:
        price = json.load(oi)
    
    return focus, krx_code, INCREASE, price

In [385]:
def get_time_disc(date):
    
    time = []
    prefix = "2018-02-" + date + "_focus/discussion_2018-02-" + date
    for hour in range(9,16):
        for minute in range(0, 6):
            time.append(prefix + " " + (("0" + str(hour)) if hour <= 9 else str(hour))+ \
                        ":" + str(minute) + "0.json")
    
    time = time[1:40]
    
    return time

In [386]:
def df_list_dis(date):
    df_list = []
    time = get_time_disc(date)
    for x in time:
        with open(x, 'r', encoding='UTF-8') as f:
            discussion = json.load(f)        
            discuss_df = pd.DataFrame(discussion, columns = ["post_num", \
                                "unique_id", "click", "like", "dislike", 
                                "name", "time"])
            reset_col = ["name", "time", "post_num", "unique_id", "click", \
                         "like", "dislike"]
            discuss_df = discuss_df[reset_col]
            df_list.append(discuss_df)
    return df_list

In [387]:
def list_to_df(date, df_list, column_names, key_list):
    total = pd.DataFrame(columns=column_names)
    for ind, df in enumerate(df_list):
        if ((ind + 1) % 3  == 0) and (ind != 2):
            df_total = df.merge(df_list[ind - 5], on = \
                                key_list).merge(df_list[ind - 4], \
                                on = key_list).merge(df_list[ind - 3], on = key_list)
            df_total.columns = column_names
            total = pd.concat([total, df_total], axis = 0)
            total = total[total["name"].isin(INCREASE)]   
    
    return total

In [388]:
COLUMN_DISC =["name", "time", "post_num", "unique_id", "click", \
              "like", "dislike", "time_1", "post_num_1", "unique_id_1", "click_1", \
              "like_1", "dislike_1", "time_2", "post_num_2", "unique_id_2", "click_2", \
              "like_2", "dislike_2", "time_3", "post_num_3", "unique_id_3", "click_3", \
              "like_3", "dislike_3"]

def get_discuss_df(date):
    discussion_list = df_list_dis(date)
    discuss_df = list_to_df(date, discussion_list, COLUMN_NAMES, 
                            ['name']).reset_index().drop(["index"], axis = 1)
    return discuss_df

In [389]:
def df_list_price(date):
    price_df = pd.DataFrame(price, columns = ["index", "code", "name", "time", "price", \
                                         "price_dif", "sell", "buy", "volume", "variation"])
    price_df = price_df[["code", "name", "time", "price", \
                    "price_dif", "sell", "buy", "volume", "variation"]][1:]
    text = "2018-02-" + date + " 09:00"
    price_df = price_df[price_df["time"] != text]
    time_list = price_df['time'].unique().tolist()
    price_df_list = []
    for time in time_list:
        df = price_df[price_df["time"] == time]
        df = df[["code", "name", "time", "price", \
                "price_dif", "sell", "buy", "volume", "variation"]]
        price_df_list.append(df)
        
    return price_df_list

In [390]:
COLUMN_PRICE=["code", "name", "time", "price", "price_dif", "sell", 
              "buy", "volume", "variation", "time_1", "price_1", 
              "price_dif_1", "sell_1", "buy_1", "volume_1", "variation_1",
              "time_2", "price_2", "price_dif_2", "sell_2", "buy_2", 
              "volume_2", "variation_2", "time_3", "price_3", 
              "price_dif_3", "sell_3", "buy_3", "volume_3", "variation_3"]

def get_price_df(date):
    price_df_list = df_list_price(date)
    price_df = list_to_df(date, price_df_list, COLUMN_PRICE, \
                          ['code', 'name']).reset_index().drop(["index"], axis = 1)
    
    return price_df

In [391]:
COLUMN_TOTAL = ['name', 'code', 'time', 'price', 'time_1', "price_1", \
                "price_dif_1", "sell_1", "buy_1", "volume_1", "variation_1", \
                'post_num_1', 'unique_id_1', 'click_1', 'like_1', 'dislike_1', \
                'time_2', 'price_2', "price_dif_2", "sell_2", "buy_2", \
                "volume_2", "variation_2", 'post_num_2', 'unique_id_2', 'click_2', \
                'like_2', 'dislike_2', 'time_3', 'price_3', "price_dif_3", \
                "sell_3", "buy_3", "volume_3", "variation_3", 'post_num_3', \
                'unique_id_3', 'click_3', 'like_3', 'dislike_3']

def get_total_df(date):
    price_df = get_price_df(date)
    discuss_df = get_discuss_df(date)
    total_df = pd.merge(price_df, discuss_df, on = ['name', \
                                                    'time', 'time_1', 'time_2', 'time_3'])
    total_df = total_df[COLUMN_TOTAL]
    
    return total_df

In [392]:
import numpy as np
import re

with open("company_size.json", 'r', encoding='UTF-8') as f:
    company_size = json.load(f)

company_df = pd.DataFrame({"company_name": np.zeros(0), \
                           "code": np.zeros(0), "market": np.zeros(0), 
                          "company_size": np.zeros(0)})

company_df = pd.DataFrame(company_size, columns = ["name", "code", "market", "size"])

KOSPI = []
KOSDAQ = []
TRASH = []
MKT_CAP = {}

for idx, row in company_df.iterrows():
    if re.sub('[0-9 ,위]', '', row["market"]) == "코스피":
        KOSPI.append(row["code"])
    elif re.sub('[0-9 ,위]', '', row["market"]) == "코스닥":
        KOSDAQ.append(row["code"])
    else:
        TRASH.append(row["code"])
    
    MKT_CAP[row["code"]] = int(re.sub('[조억원,]', '', row["size"]))

In [374]:
def add_company(date):
    
    total = get_total_df(date)
    total["mkt_cap"] = np.nan
    total["kospi"] = np.nan
    total["kosdaq"] = np.nan
    total["trash"] = np.nan    
    
    for index, row in total.iterrows():
        mkt_cap = MKT_CAP[row["code"]]
        if row["code"] in KOSPI:
            kospi = 1
        else:
            kospi = 0

        if row["code"] in KOSDAQ:
            kosdaq = 1
        else:
            kosdaq = 0

        if row["code"] in TRASH:
            trash = 1
        else:
            trash = 0
        total.set_value(index,'mkt_cap', mkt_cap)
        total.set_value(index,'kospi', kospi)
        total.set_value(index,'kosdaq', kosdaq)
        total.set_value(index,'trash', trash)  
    
    return total

In [393]:
def transform_df(date):
    
    total = add_company(date)   
    var_to_transform = ['price', 'price_1', 'price_dif_1', 'sell_1', 
                        'buy_1', 'volume_1', 'variation_1', 'price_2', 
                        'price_dif_2', 'sell_2', 'buy_2', 'volume_2', 
                        'variation_2', 'price_3', 'price_dif_3', 'sell_3', 'buy_3', 
                        'volume_3', 'variation_3']
    for index, row in total.iterrows():
        for var in var_to_transform:
            if isinstance(row[var], str):

                data = row[var].split(",")
                value = ''.join(data)
                value = int(value)
                total.set_value(index, var, value)
    return total

In [394]:
focus, krx_code, INCREASE, price = open_files('14')
total_14 = transform_df('14')
focus, krx_code, INCREASE, price = open_files('20')
total_20 = transform_df('20')
focus, krx_code, INCREASE, price = open_files('21')
total_21 = transform_df('21')
focus, krx_code, INCREASE, price = open_files('22')
total_22 = transform_df('22')
focus, krx_code, INCREASE, price = open_files('23')
total_23 = transform_df('23')

In [400]:
total_df = pd.concat([total_14, total_20, total_21, total_22, total_23])

In [402]:
total_df.reset_index()

,index,name,code,time,price,time_1,price_1,price_dif_1,sell_1,buy_1,...,variation_3,post_num_3,unique_id_3,click_3,like_3,dislike_3,mkt_cap,kospi,kosdaq,trash
0,0,호텔신라,008770,2018-02-14 10:00,83400,2018-02-14 09:10,84700,1800,84800,84700,...,2036,5,4,571,7,4,32419.0,1.0,0.0,0.0
1,1,대한광통신,010170,2018-02-14 10:00,7050,2018-02-14 09:10,7060,90,7060,7050,...,3467,3,3,142,1,3,4176.0,0.0,1.0,0.0
2,2,포스코 ICT,022100,2018-02-14 10:00,8320,2018-02-14 09:10,8310,0,8330,8310,...,1712,3,3,781,1,5,12953.0,0.0,1.0,0.0
3,3,한화케미칼,009830,2018-02-14 10:00,32350,2018-02-14 09:10,32700,550,32700,32650,...,3102,6,6,706,3,8,55706.0,1.0,0.0,0.0
4,4,지엘팜텍,204840,2018-02-14 10:00,4760,2018-02-14 09:10,4680,50,4700,4680,...,2844,4,4,970,8,12,1494.0,0.0,1.0,0.0
5,5,코웰패션,033290,2018-02-14 10:00,5350,2018-02-14 09:10,5270,90,5280,5270,...,1530,1,1,121,1,0,4661.0,0.0,1.0,0.0
6,6,대한항공,003490,2018-02-14 10:00,35900,2018-02-14 09:10,35700,300,35750,35700,...,1028,2,2,70,0,0,33338.0,1.0,0.0,0.0
7,7,대한뉴팜,054670,2018-02-14 10:00,13750,2018-02-14 09:10,13800,0,13800,13750,...,365,1,1,64,3,3,2117.0,0.0,1.0,0.0
8,8,레드캡투어,038390,2018-02-14 10:00,15350,2018-02-14 09:10,15350,100,15350,15200,...,1,0,0,0,0,0,1357.0,0.0,1.0,0.0
9,9,이마트,139480,2018-02-14 10:00,290000,2018-02-14 09:10,283500,5000,284000,283500,...,75,1,1,23,2,0,86415.0,1.0,0.0,0.0
10,10,녹십자,006280,2018-02-14 10:00,204500,2018-02-14 09:10,201000,1500,201000,200000,...,581,1,1,175,3,0,25301.0,1.0,0.0,0.0
11,11,GS,078930,2018-02-14 10:00,63000,2018-02-14 09:10,62600,100,62700,62600,...,219,1,1,156,3,0,623.0,1.0,0.0,0.0
12,12,CJ헬로,037560,2018-02-14 10:00,8980,2018-02-14 09:10,8650,230,8650,8640,...,2134,2,2,129,1,1,7466.0,1.0,0.0,0.0
13,13,모토닉,009680,2018-02-14 10:00,10150,2018-02-14 09:10,10300,50,10300,10200,...,50,0,0,0,0,0,3333.0,1.0,0.0,0.0
14,14,AJ렌터카,068400,2018-02-14 10:00,10500,2018-02-14 09:10,10400,0,10550,10400,...,3,2,2,163,6,1,2480.0,1.0,0.0,0.0
15,15,한국전자홀딩스,006200,2018-02-14 10:00,799,2018-02-14 09:10,795,-3,795,793,...,1979,0,0,0,0,0,378.0,1.0,0.0,0.0
16,16,일진머티리얼즈,020150,2018-02-14 10:00,32300,2018-02-14 09:10,32300,350,32250,32200,...,724,16,9,2871,36,38,15732.0,1.0,0.0,0.0
17,17,코위버,056360,2018-02-14 10:00,7790,2018-02-14 09:10,7870,120,7890,7870,...,514,0,0,0,0,0,784.0,0.0,1.0,0.0
18,18,앱클론,174900,2018-02-14 10:00,55100,2018-02-14 09:10,54300,0,54300,54200,...,25,1,1,19,0,0,4039.0,0.0,1.0,0.0
19,19,디에이치피코리아,131030,2018-02-14 10:00,10550,2018-02-14 09:10,10400,350,10450,10400,...,206,3,3,337,1,0,1714.0,0.0,1.0,0.0
20,20,지스마트글로벌,114570,2018-02-14 10:00,13700,2018-02-14 09:10,13850,650,13900,13850,...,4308,10,8,2295,21,18,2942.0,0.0,1.0,0.0
21,21,씨케이에이치,900120,2018-02-14 10:00,841,2018-02-14 09:10,846,1,852,846,...,20853,4,4,357,6,2,961.0,0.0,1.0,0.0
22,22,삼우엠스,082660,2018-02-14 10:00,836,2018-02-14 09:10,828,12,828,816,...,1391,1,1,49,1,0,345.0,0.0,1.0,0.0
23,23,인트론바이오,048530,2018-02-14 10:00,38300,2018-02-14 09:10,37650,-100,37650,37600,...,81,2,2,263,1,2,6060.0,0.0,1.0,0.0
24,24,휴온스,243070,2018-02-14 10:00,95100,2018-02-14 09:10,94000,1900,94100,94000,...,9,0,0,0,0,0,5874.0,0.0,1.0,0.0
25,25,알서포트,131370,2018-02-14 10:00,2720,2018-02-14 09:10,2730,35,2735,2730,...,10,0,0,0,0,0,1518.0,0.0,1.0,0.0
26,26,에스에너지,095910,2018-02-14 10:00,6670,2018-02-14 09:10,6710,50,6710,6660,...,32,1,1,31,0,0,900.0,0.0,1.0,0.0
27,27,키움증권,039490,2018-02-14 10:00,106500,2018-02-14 09:10,106000,500,106000,105500,...,144,0,0,0,0,0,23315.0,1.0,0.0,0.0
28,28,녹십자셀,031390,2018-02-14 10:00,50700,2018-02-14 09:10,49750,-250,49800,49750,...,104,4,4,168,5,2,6444.0,0.0,1.0,0.0
29,29,성광벤드,014620,2018-02-14 10:00,12050,2018-02-14 09:10,12200,150,12250,12200,...,599,0,0,0,0,0,3718.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3378,750,SIMPAC Metal,090730,2018-02-23 15:30,11650,2018-02-23 14:40,11850,-50,11850,11750,...,1,0,0,0,0,0,1514.0,0.0,1.0,0.0
3379,751,펩트론,087010,2018-02-23 15:30,70400,2018-02-23 14:40,70000,2700,70100,70000,...,164,0,0,0,0,0,5222.0,0.0,1.0,0.0
3380,752,인터로조,119610,2018-02-23 15:30,41900,2018-02-23 14:40,41700,300,41750,41700,...,15,1,1,43,1,0,4515.0,0.0,1.0,0.0
3381,753,원익,032940,2018-02-23 15:30,5050,2018-02-23 14:40,4995,-75,5000,4990,...,211,4,4,915,1,1,638.0,0.0,1.0,0.0
3382,754,세아베스틸,001430,2018-02-23 15:30,27550,2018-02-23 14:40,27400,0,27450,27400,...,13,1,1,15,0,0,9880.0,1.0,0.0,0.0
3383,755,코오롱인더,120110,2018-02-23 15:30,74100,2018-02-23 14:40,73800,-300,73900,73800,...,230,13,11,2392,20,11,19014.0,1.0,0.0,0.0
3384,756,대화제약,067080,2018-02-23 15:30,29150,2018-02-23 14:40,29000,400,29100,29000,...,277,11,7,4503,49,60,5313.0,0.0,1.0,0.0
3385,757,경남제약,053950,2018-02-23 15:30,17400,2018-02-23 14:40,17600,-100,17650,17600,...,1212,2,2,911,1,4,1957.0,0.0,1.0,0.0
3386,758,라온시큐어,042510,2018-02-23 15:30,3625,2018-02-23 14:40,3610,10,3615,3610,...,179,5,4,1386,13,17,1153.0,0.0,1.0,0.0
3387,759,동방,004140,2018-02-23 15:30,1545,2018-02-23 14:40,1545,-15,1550,1545,...,201,1,1,60,0,0,502.0,1.0,0.0,0.0
3388,760,SG,255220,2018-02-23 15:30,5420,2018-02-23 14:40,5370,-30,5380,5370,...,50,6,6,730,5,3,678.0,0.0,1.0,0.0
3389,761,미스터블루,207760,2018-02-23 15:30,3525,2018-02-23 14:40,3525,5,3525,3515,...,500,4,4,400,1,3,852.0,0.0,1.0,0.0
3390,762,대봉엘에스,078140,2018-02-23 15:30,12450,2018-02-23 14:40,12300,-150,12300,12250,...,564,27,14,4733,33,21,1380.0,0.0,1.0,0.0
3391,763,대웅제약,069620,2018-02-23 15:30,183500,2018-02-23 14:40,184000,0,184000,183500,...,365,26,11,6469,78,73,21261.0,1.0,0.0,0.0
3392,764,성도이엔지,037350,2018-02-23 15:30,9450,2018-02-23 14:40,9400,220,9400,9380,...,506,12,10,2791,28,13,1462.0,0.0,1.0,0.0
3393,765,삼일,032280,2018-02-23 15:30,2230,2018-02-23 14:40,2240,45,2240,2235,...,10,5,5,660,0,0,362.0,0.0,1.0,0.0
3394,766,웰크론한텍,076080,2018-02-23 15:30,3130,2018-02-23 14:40,3130,-5,3135,3125,...,1,0,0,0,0,0,606.0,0.0,1.0,0.0
3395,767,더존비즈온,012510,2018-02-23 15:30,53700,2018-02-23 14:40,53200,-800,53200,53100,...,601,2,2,508,2,4,15934.0,1.0,0.0,0.0
3396,768,멕아이씨에스,058110,2018-02-23 15:30,4940,2018-02-23 14:40,4890,30,4920,4890,...,1,1,1,38,0,0,265.0,0.0,1.0,0.0
3397,769,화성밸브,039610,2018-02-23 15:30,5420,2018-02-23 14:40,5420,-80,5430,5420,...,30,1,1,21,0,0,395.0,0.0,1.0,0.0
3398,770,애경유화,161000,2018-02-23 15:30,17850,2018-02-23 14:40,18050,600,18100,18050,...,93,5,4,713,3,2,5719.0,1.0,0.0,0.0
3399,771,안트로젠,065660,2018-02-23 15:30,68000,2018-02-23 14:40,67500,-400,67500,67100,...,1266,7,5,2720,14,32,5408.0,0.0,1.0,0.0
3400,772,에이디칩스,054630,2018-02-23 15:30,2920,2018-02-23 14:40,2925,80,2925,2920,...,2507,10,10,5154,15,10,721.0,0.0,1.0,0.0
3401,773,대우건설,047040,2018-02-23 15:30,5430,2018-02-23 14:40,5420,160,5430,5420,...,9626,29,20,11573,84,79,22568.0,1.0,0.0,0.0
3402,774,CJ,001040,2018-02-23 15:30,168000,2018-02-23 14:40,167000,2000,167500,167000,...,537,7,7,1976,18,8,49017.0,1.0,0.0,0.0
3403,775,엔에스,217820,2018-02-23 15:30,18600,2018-02-23 14:40,18500,-150,18550,18500,...,785,5,4,464,6,6,911.0,0.0,1.0,0.0
3404,776,네오오토,212560,2018-02-23 15:30,5570,2018-02-23 14:40,5530,-70,5570,5530,...,10,2,2,75,0,0,439.0,0.0,1.0,0.0
3405,777,캐스텍코리아,071850,2018-02-23 15:30,4250,2018-02-23 14:40,4200,-80,4245,4200,...,208,3,3,94,0,0,526.0,0.0,1.0,0.0
3406,778,에이치엘비생명과학,067630,2018-02-23 15:30,8200,2018-02-23 14:40,8410,90,8420,8410,...,578,52,28,30490,320,187,2188.0,0.0,1.0,0.0
3407,779,S&T모티브,064960,2018-02-23 15:30,44600,2018-02-23 14:40,44500,-350,44500,44450,...,159,0,0,0,0,0,6522.0,1.0,0.0,0.0

In [404]:
num = len(pd.unique(total_df['name']))
num

243