In [1]:
import pandas as pd
import numpy as np
import json
import re

In [2]:
with open("2018-02-14_focus/2018-02-14_focus_group.json") as focus_group:
    focus = json.load(focus_group)

In [3]:
with open("krx_code.json") as krx:
    krx_code = json.load(krx)

In [4]:
with open("2018-02-14_opening_increase.json") as oi:
    increase = json.load(oi)

In [5]:
import bs4
import urllib3
import re

def opening_increase(code, date):
    '''
    code: string
    date: string, e.g. 2018-02-14
    '''

    target = "http://finance.naver.com/item/sise_time.nhn?code=" + code + "&thistime=" + re.sub('[-]', '', date) + "090001&page=1"
    pm = urllib3.PoolManager()
    html = pm.urlopen(url=target, method="GET").data
    soup = bs4.BeautifulSoup(html, 'lxml')
    
    data_list = soup.find_all("tr")[2].find_all("td",class_="num")
    price = data_list[0].text
    
    return price != '\xa0' and "상승" in str(soup)

In [6]:
'''
rv = []
c = 0
for stock in focus:
    c+= 1
    if opening_increase(krx_code[stock], "2018-02-14"):
        rv.append(stock)
    print(c)
'''

'\nrv = []\nc = 0\nfor stock in focus:\n    c+= 1\n    if opening_increase(krx_code[stock], "2018-02-14"):\n        rv.append(stock)\n    print(c)\n'

In [7]:
'''
json = json.dumps(rv, ensure_ascii=False)
f = open("2018-02-14_opening_increase.json","w")
f.write(json)
f.close()
'''

'\njson = json.dumps(rv, ensure_ascii=False)\nf = open("2018-02-14_opening_increase.json","w")\nf.write(json)\nf.close()\n'

In [8]:
'''
def ten_minutes_before(time):
    
    if time[-2:] == "00":
        prefix = '0' + str(int(time[11:13]) - 1) + ":50" if int(time[11:13]) <= 10 \
        else str(int(time[11:13]) - 1) + ":50"
        time = time[:-5] + prefix
    
    else:
        time = time[:-2] + str(int(time[-2:]) - 10)
    
    return time
'''

'\ndef ten_minutes_before(time):\n    \n    if time[-2:] == "00":\n        prefix = \'0\' + str(int(time[11:13]) - 1) + ":50" if int(time[11:13]) <= 10         else str(int(time[11:13]) - 1) + ":50"\n        time = time[:-5] + prefix\n    \n    else:\n        time = time[:-2] + str(int(time[-2:]) - 10)\n    \n    return time\n'

In [9]:
import bs4
import urllib3

def scrape_price_history(code, time):
    '''
    code: string
    time: string, e.g. 201802090910
    '''

    target = "http://finance.naver.com/item/sise_time.nhn?code=" + code + "&thistime=" + time + "01&page=1"
    pm = urllib3.PoolManager()
    html = pm.urlopen(url=target, method="GET").data
    soup = bs4.BeautifulSoup(html, 'lxml')
    data_list = soup.find_all("tr")[2].find_all("td",class_="num")
    data_dic = {}
    data_dic["price"] = data_list[0].text
    image = data_list[1].find("img")
    if image != None:
        if image["alt"] == "상승":
            data_dic["price_dif"] = data_list[1].text.strip("\n\t")
        else:
            data_dic["price_dif"] = "-" + data_list[1].text.strip("\n\t")
    else:
        data_dic["price_dif"] = 0
    data_dic["sell"] = data_list[2].text
    data_dic["buy"] = data_list[3].text
    data_dic["volume"] = data_list[4].text
    data_dic["variation"] = data_list[5].text
    
    return data_dic

In [10]:
time = []

prefix = "2018-02-14_focus/discussion_2018-02-14"
for hour in range(9,10):
    for minute in range(0, 3):
        time.append(prefix + " " + (("0" + str(hour)) if hour <= 9 else str(hour))+ ":" + str(minute) + "0.json")

In [11]:
time

['2018-02-14_focus/discussion_2018-02-14 09:00.json',
 '2018-02-14_focus/discussion_2018-02-14 09:10.json',
 '2018-02-14_focus/discussion_2018-02-14 09:20.json']

In [12]:
df = pd.DataFrame(columns=[["code", "name", "post_num_0", "unique_id_0", "click_0", "like_0",\
                            "dislike_0", "time_0","price_0","price_dif_0",\
                            "sell_0", "buy_0", "volume_0", "variation_0",
                            "post_num_1", "unique_id_1", "click_1", "like_1",\
                            "dislike_1", "time_1","price_1","price_dif_1",\
                            "sell_1", "buy_1", "volume_1", "variation_1",
                            "post_num_2", "unique_id_2", "click_2", "like_2",\
                            "dislike_2", "time_2","price_2","price_dif_2",\
                            "sell_2", "buy_2", "volume_2", "variation_2"]])

In [13]:
for t in time:
    with open(t) as f:
        discussion = json.load(f)
    for d in discussion:
        if d["name"] in increase:
            row = pd.DataFrame(columns=["code", "name", "post_num_0", "unique_id_0", "click_0", "like_0",\
                                "dislike_0", "time_0","price_0","price_dif_0",\
                                "sell_0", "buy_0", "volume_0", "variation_0",
                                "post_num_1", "unique_id_1", "click_1", "like_1",\
                                "dislike_1", "time_1","price_1","price_dif_1",\
                                "sell_1", "buy_1", "volume_1", "variation_1",
                                "post_num_2", "unique_id_2", "click_2", "like_2",\
                                "dislike_2", "time_2","price_2","price_dif_2",\
                                "sell_2", "buy_2", "volume_2", "variation_2"],\
                           data = [[krx_code[d["name"]], d["name"], d["post_num"], d["unique_id"], d["click"], \
                                    d["like"], d["dislike"], d["time"], \
                                    np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,\
                                    np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,\
                                    np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan]])
            df = df.append(row)

In [14]:
df = df.reset_index()

In [15]:
df.shape

(183, 39)

In [16]:
for idx, row in df.iterrows():
    timestamp = row["time_0"]
    t = re.sub('[ :-]', '', timestamp)
    
    d = scrape_price_history(row["code"], t)
    tpl = (d["price"], d["price_dif"], d["sell"], d["buy"], d["volume"], d["variation"])
    
    df["price_0"].iloc[idx] = tpl[0]
    df["price_dif_0"].iloc[idx] = tpl[1]
    df["sell_0"].iloc[idx] = tpl[2]
    df["buy_0"].iloc[idx] = tpl[3]
    df["volume_0"].iloc[idx] = tpl[4]
    df["variation_0"].iloc[idx] = tpl[5]
    
    print(idx)

/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182

In [17]:
for idx, row in df.iterrows():
    if idx >= len(increase) * 1:
        df["post_num_1"].iloc[idx] = df["post_num_0"].iloc[idx - len(increase)]
        df["unique_id_1"].iloc[idx] = df["unique_id_0"].iloc[idx - len(increase)]
        df["click_1"].iloc[idx] = df["click_0"].iloc[idx - len(increase)]
        df["like_1"].iloc[idx] = df["like_0"].iloc[idx - len(increase)]
        df["dislike_1"].iloc[idx] = df["dislike_0"].iloc[idx - len(increase)]
        df["time_1"].iloc[idx] = df["time_0"].iloc[idx - len(increase)]
        
        df["price_1"].iloc[idx] = df["post_num_0"].iloc[idx - len(increase)]
        df["price_dif_1"].iloc[idx] = df["price_dif_0"].iloc[idx - len(increase)]
        df["sell_1"].iloc[idx] = df["sell_0"].iloc[idx - len(increase)]
        df["buy_1"].iloc[idx] = df["buy_0"].iloc[idx - len(increase)]
        df["volume_1"].iloc[idx] = df["volume_0"].iloc[idx - len(increase)]
        df["variation_1"].iloc[idx] = df["variation_0"].iloc[idx - len(increase)]

/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [18]:
for idx, row in df.iterrows():
    if idx >= len(increase) * 2:
        df["post_num_2"].iloc[idx] = df["post_num_0"].iloc[idx - (len(increase) * 2)]
        df["unique_id_2"].iloc[idx] = df["unique_id_0"].iloc[idx - (len(increase) * 2)]
        df["click_2"].iloc[idx] = df["click_0"].iloc[idx - (len(increase) * 2)]
        df["like_2"].iloc[idx] = df["like_0"].iloc[idx - (len(increase) * 2)]
        df["dislike_2"].iloc[idx] = df["dislike_0"].iloc[idx - (len(increase) * 2)]
        df["time_2"].iloc[idx] = df["time_0"].iloc[idx - (len(increase) * 2)]
        
        df["price_2"].iloc[idx] = df["post_num_0"].iloc[idx - (len(increase) * 2)]
        df["price_dif_2"].iloc[idx] = df["price_dif_0"].iloc[idx - (len(increase) * 2)]
        df["sell_2"].iloc[idx] = df["sell_0"].iloc[idx - (len(increase) * 2)]
        df["buy_2"].iloc[idx] = df["buy_0"].iloc[idx - (len(increase) * 2)]
        df["volume_2"].iloc[idx] = df["volume_0"].iloc[idx - (len(increase) * 2)]
        df["variation_2"].iloc[idx] = df["variation_0"].iloc[idx - (len(increase) * 2)]

/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [19]:
df

,index,code,name,post_num_0,unique_id_0,click_0,like_0,dislike_0,time_0,price_0,...,click_2,like_2,dislike_2,time_2,price_2,price_dif_2,sell_2,buy_2,volume_2,variation_2
0,0,008770,호텔신라,3,2,77,4,2,2018-02-14 09:00,"84,300",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,010170,대한광통신,0,0,0,0,0,2018-02-14 09:00,"7,040",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,022100,포스코 ICT,2,2,451,1,3,2018-02-14 09:00,"8,350",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,009830,한화케미칼,1,1,317,2,7,2018-02-14 09:00,"32,550",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,204840,지엘팜텍,3,3,220,4,6,2018-02-14 09:00,"4,790",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0,033290,코웰패션,1,1,48,0,0,2018-02-14 09:00,"5,270",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,0,003490,대한항공,0,0,0,0,0,2018-02-14 09:00,"35,700",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,0,054670,대한뉴팜,0,0,0,0,0,2018-02-14 09:00,"13,850",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,0,038390,레드캡투어,0,0,0,0,0,2018-02-14 09:00,"15,350",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,0,139480,이마트,0,0,0,0,0,2018-02-14 09:00,"284,500",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,0,006280,녹십자,1,1,128,3,0,2018-02-14 09:00,"201,500",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,0,078930,GS,1,1,129,3,0,2018-02-14 09:00,"62,800",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,0,037560,CJ헬로,1,1,40,0,1,2018-02-14 09:00,"8,490",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,0,009680,모토닉,0,0,0,0,0,2018-02-14 09:00,"10,300",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,0,068400,AJ렌터카,2,2,83,4,0,2018-02-14 09:00,"10,500",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,0,006200,한국전자홀딩스,0,0,0,0,0,2018-02-14 09:00,800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,0,020150,일진머티리얼즈,11,7,1564,25,30,2018-02-14 09:00,"32,300",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,0,056360,코위버,0,0,0,0,0,2018-02-14 09:00,"7,840",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,0,174900,앱클론,0,0,0,0,0,2018-02-14 09:00,"54,700",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,0,131030,디에이치피코리아,2,2,72,0,0,2018-02-14 09:00,"10,300",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,0,114570,지스마트글로벌,3,3,920,4,7,2018-02-14 09:00,"13,500",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,0,900120,씨케이에이치,2,2,248,5,2,2018-02-14 09:00,846,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,0,082660,삼우엠스,1,1,31,0,0,2018-02-14 09:00,834,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,0,048530,인트론바이오,1,1,86,0,2,2018-02-14 09:00,"38,100",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,0,243070,휴온스,0,0,0,0,0,2018-02-14 09:00,"92,500",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,0,131370,알서포트,0,0,0,0,0,2018-02-14 09:00,"2,725",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,0,095910,에스에너지,0,0,0,0,0,2018-02-14 09:00,"6,670",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,0,039490,키움증권,0,0,0,0,0,2018-02-14 09:00,"106,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,0,031390,녹십자셀,0,0,0,0,0,2018-02-14 09:00,"50,400",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,0,014620,성광벤드,0,0,0,0,0,2018-02-14 09:00,"12,300",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,0,003060,에이프로젠제약,18,12,4012,30,19,2018-02-14 09:20,"4,210",...,2844,10,12,2018-02-14 09:00,14,30,"4,295","4,275","3,347","3,347"
154,0,263860,지니언스,0,0,0,0,0,2018-02-14 09:20,"13,650",...,0,0,0,2018-02-14 09:00,0,200,"13,900","13,700","1,542","1,542"
155,0,272290,이녹스첨단소재,0,0,0,0,0,2018-02-14 09:20,"65,300",...,0,0,0,2018-02-14 09:00,0,"1,000","65,700","65,300",380,380
156,0,151860,KG ETS,0,0,0,0,0,2018-02-14 09:20,"4,070",...,0,0,0,2018-02-14 09:00,0,5,"4,075","4,065","1,006","1,006"
157,0,122350,삼기오토모티브,0,0,0,0,0,2018-02-14 09:20,"3,485",...,0,0,0,2018-02-14 09:00,0,15,"3,510","3,495",291,291
158,0,064350,현대로템,0,0,0,0,0,2018-02-14 09:20,"15,100",...,0,0,0,2018-02-14 09:00,0,100,"15,150","15,100",664,664
159,0,122690,서진오토모티브,0,0,0,0,0,2018-02-14 09:20,"4,100",...,0,0,0,2018-02-14 09:00,0,15,"4,090","4,005",659,659
160,0,111870,삼본정밀전자,2,2,56,2,0,2018-02-14 09:20,"9,900",...,38,0,0,2018-02-14 09:00,1,30,"9,980","9,960",11,11
161,0,066700,테라젠이텍스,9,8,1500,9,8,2018-02-14 09:20,"10,500",...,908,7,5,2018-02-14 09:00,5,50,"10,650","10,600","12,023","12,023"
162,0,039030,이오테크닉스,0,0,0,0,0,2018-02-14 09:20,"83,500",...,0,0,0,2018-02-14 09:00,0,500,"84,500","84,300",343,343
163,0,024810,이화전기,15,11,4917,53,23,2018-02-14 09:20,370,...,3846,43,18,2018-02-14 09:00,12,5,373,372,"507,152","507,152"
164,0,018880,한온시스템,1,1,557,0,3,2018-02-14 09:20,"11,950",...,478,0,2,2018-02-14 09:00,1,100,"11,950","11,900","3,846","3,846"
165,0,006880,신송홀딩스,0,0,0,0,0,2018-02-14 09:20,"6,170",...,0,0,0,2018-02-14 09:00,0,110,"6,160","6,050",33,33
166,0,115390,락앤락,0,0,0,0,0,2018-02-14 09:20,"23,400",...,0,0,0,2018-02-14 09:00,0,550,"23,850","23,800",609,609
167,0,078160,메디포스트,11,8,2285,17,7,2018-02-14 09:20,"98,400",...,1594,11,6,2018-02-14 09:00,7,800,"100,000","99,900","1,709","1,709"
168,0,006120,SK디스커버리,0,0,0,0,0,2018-02-14 09:20,"49,150",...,0,0,0,2018-02-14 09:00,0,150,"49,300","49,250",513,513
169,0,123100,테라세미콘,3,3,212,0,1,2018-02-14 09:20,"25,700",...,16,0,0,2018-02-14 09:00,2,100,"25,800","25,750","3,167","3,167"
170,0,013870,지엠비코리아,4,4,230,2,2,2018-02-14 09:20,"8,710",...,164,1,0,2018-02-14 09:00,2,90,"8,840","8,800","6,166","6,166"
171,0,005710,대원산업,0,0,0,0,0,2018-02-14 09:20,"8,360",...,0,0,0,2018-02-14 09:00,0,80,"8,520","8,440",232,232
172,0,206640,바디텍메드,1,1,114,1,2,2018-02-14 09:20,"18,350",...,29,1,1,2018-02-14 09:00,1,50,"18,300","18,250",784,784
173,0,071050,한국금융지주,0,0,0,0,0,2018-02-14 09:20,"80,300",...,0,0,0,2018-02-14 09:00,0,400,"80,400","80,000","2,300","2,300"
174,0,004560,현대비앤지스틸,1,1,65,1,1,2018-02-14 09:20,"12,250",...,54,1,1,2018-02-14 09:00,1,50,"12,300","12,200","1,383","1,383"
175,0,001520,동양,1,1,182,2,4,2018-02-14 09:20,"2,035",...,130,2,2,2018-02-14 09:00,1,10,"2,060","2,050","2,497","2,497"
176,0,095660,네오위즈,5,5,1201,11,10,2018-02-14 09:20,"13,950",...,1089,11,9,2018-02-14 09:00,5,150,"14,150","14,100","2,085","2,085"
177,0,001430,세아베스틸,0,0,0,0,0,2018-02-14 09:20,"28,300",...,0,0,0,2018-02-14 09:00,0,350,"28,750","28,700",457,457
178,0,100700,세운메디칼,0,0,0,0,0,2018-02-14 09:20,"4,670",...,0,0,0,2018-02-14 09:00,0,25,"4,700","4,675","5,286","5,286"
179,0,090710,디에스티로봇,4,3,344,3,0,2018-02-14 09:20,"2,410",...,146,2,0,2018-02-14 09:00,2,20,"2,435","2,420","23,074","23,074"
180,0,073110,엘엠에스,0,0,0,0,0,2018-02-14 09:20,"8,630",...,0,0,0,2018-02-14 09:00,0,60,"8,580","8,570",220,220
181,0,082210,옵트론텍,1,1,78,0,1,2018-02-14 09:20,"7,300",...,66,0,1,2018-02-14 09:00,1,90,"7,370","7,360","1,767","1,767"
182,0,086960,한컴MDS,0,0,0,0,0,2018-02-14 09:20,"18,500",...,0,0,0,2018-02-14 09:00,0,50,"18,750","18,650","1,324","1,324"

In [27]:
df.columns

Index(['index', 'code', 'name', 'post_num_0', 'unique_id_0', 'click_0',
       'like_0', 'dislike_0', 'time_0', 'price_0', 'price_dif_0', 'sell_0',
       'buy_0', 'volume_0', 'variation_0', 'post_num_1', 'unique_id_1',
       'click_1', 'like_1', 'dislike_1', 'time_1', 'price_1', 'price_dif_1',
       'sell_1', 'buy_1', 'volume_1', 'variation_1', 'post_num_2',
       'unique_id_2', 'click_2', 'like_2', 'dislike_2', 'time_2', 'price_2',
       'price_dif_2', 'sell_2', 'buy_2', 'volume_2', 'variation_2'],
      dtype='object')

In [56]:
rv = []
rv.append(df.columns.tolist())
for row in df.iterrows():
    rv.append(row[1].tolist())

In [57]:
'''
import json
json = json.dumps(rv, ensure_ascii=False)
f = open("2018-02-14_09:00_09:20_dataframe.json","w")
f.write(json)
f.close()
'''