In [1]:
import pandas as pd
import numpy as np
import json
import re

In [2]:
def open_files(date):
    focus_text = "2018-02-" + date + "_focus/2018-02-" + \
                 date + "_focus_group.json"
    krx_text = "krx_code.json"
    increase_text = "2018-02-" + date + "_opening_increase.json"
    price_text = "2018-02-" + date + "_price_and_everything.json"
    with open(focus_text, 'r', encoding='UTF-8') as focus_group:
        focus = json.load(focus_group)
    with open(krx_text, 'r', encoding='UTF-8') as krx:
        krx_code = json.load(krx)
    with open(increase_text, 'r', encoding='UTF-8') as oi:
        INCREASE = json.load(oi)
    with open(price_text, 'r', encoding='UTF-8') as oi:
        price = json.load(oi)
    
    return focus, krx_code, INCREASE, price

In [46]:
def get_time_disc(date):
    
    time = []
    prefix = "2018-02-" + date + "_focus/discussion_2018-02-" + date
    for hour in range(9,16):
        for minute in range(0, 6):
            time.append(prefix + " " + (("0" + str(hour)) if hour <= 9 else str(hour))+ \
                        ":" + str(minute) + "0.json")
    
    time = time[1:40]
    
    return time

In [47]:
def df_list_dis(date):
    df_list = []
    time = get_time_disc(date)
    for x in time:
        with open(x, 'r', encoding='UTF-8') as f:
            discussion = json.load(f)        
            discuss_df = pd.DataFrame(discussion, columns = ["post_num", \
                                "unique_id", "click", "like", "dislike", 
                                "name", "time"])
            reset_col = ["name", "time", "post_num", "unique_id", "click", \
                         "like", "dislike"]
            discuss_df = discuss_df[reset_col]
            df_list.append(discuss_df)
    return df_list

In [48]:
def list_to_df(date, df_list, column_names, key_list):
    total = pd.DataFrame(columns=column_names)
    for ind, df in enumerate(df_list):
        if (ind % 3 == 0) and (ind != 0):
            df_total = df.merge(df_list[ind - 3], on = \
                                key_list).merge(df_list[ind - 2], \
                                on = key_list).merge(df_list[ind - 1], on = key_list)
            df_total.columns = column_names
            total = pd.concat([total, df_total], axis = 0)
            total = total[total["name"].isin(INCREASE)]   
    
    return total

In [49]:
COLUMN_DISC =["name", "time", "post_num", "unique_id", "click", \
              "like", "dislike", "time_1", "post_num_1", "unique_id_1", "click_1", \
              "like_1", "dislike_1", "time_2", "post_num_2", "unique_id_2", "click_2", \
              "like_2", "dislike_2", "time_3", "post_num_3", "unique_id_3", "click_3", \
              "like_3", "dislike_3"]

def get_discuss_df(date):
    discussion_list = df_list_dis(date)
    discuss_df = list_to_df(date, discussion_list, COLUMN_DISC, 
                            ['name']).reset_index().drop(["index"], axis = 1)
    return discuss_df

In [50]:
def df_list_price(date):
    price_df = pd.DataFrame(price, columns = ["index", "code", "name", "time", "price", \
                                         "price_dif", "sell", "buy", "volume", "variation"])
    price_df = price_df[["code", "name", "time", "price", \
                    "price_dif", "sell", "buy", "volume", "variation"]][1:]
    text = "2018-02-" + date + " 09:00"
    price_df = price_df[price_df["time"] != text]
    time_list = price_df['time'].unique().tolist()
    price_df_list = []
    for time in time_list:
        df = price_df[price_df["time"] == time]
        df = df[["code", "name", "time", "price", \
                "price_dif", "sell", "buy", "volume", "variation"]]
        price_df_list.append(df)
        
    return price_df_list

In [51]:
COLUMN_PRICE=["code", "name", "time", "price", "price_dif", "sell", 
              "buy", "volume", "variation", "time_1", "price_1", 
              "price_dif_1", "sell_1", "buy_1", "volume_1", "variation_1",
              "time_2", "price_2", "price_dif_2", "sell_2", "buy_2", 
              "volume_2", "variation_2", "time_3", "price_3", 
              "price_dif_3", "sell_3", "buy_3", "volume_3", "variation_3"]

def get_price_df(date):
    price_df_list = df_list_price(date)
    price_df = list_to_df(date, price_df_list, COLUMN_PRICE, \
                          ['code', 'name']).reset_index().drop(["index"], axis = 1)
    
    return price_df

In [52]:
COLUMN_TOTAL = ['name', 'code', 'time', 'price', 'time_1', "price_1", \
                "price_dif_1", "sell_1", "buy_1", "volume_1", "variation_1", \
                'post_num_1', 'unique_id_1', 'click_1', 'like_1', 'dislike_1', \
                'time_2', 'price_2', "price_dif_2", "sell_2", "buy_2", \
                "volume_2", "variation_2", 'post_num_2', 'unique_id_2', 'click_2', \
                'like_2', 'dislike_2', 'time_3', 'price_3', "price_dif_3", \
                "sell_3", "buy_3", "volume_3", "variation_3", 'post_num_3', \
                'unique_id_3', 'click_3', 'like_3', 'dislike_3']

def get_total_df(date):
    price_df = get_price_df(date)
    discuss_df = get_discuss_df(date)
    total_df = pd.merge(price_df, discuss_df, on = ['name', \
                                                    'time', 'time_1', 'time_2', 'time_3'])
    total_df = total_df[COLUMN_TOTAL]
    
    return total_df

In [53]:
import numpy as np
import re

with open("company_size.json", 'r', encoding='UTF-8') as f:
    company_size = json.load(f)

company_df = pd.DataFrame({"company_name": np.zeros(0), \
                           "code": np.zeros(0), "market": np.zeros(0), 
                          "company_size": np.zeros(0)})

company_df = pd.DataFrame(company_size, columns = ["name", "code", "market", "size"])

KOSPI = []
KOSDAQ = []
TRASH = []
MKT_CAP = {}

for idx, row in company_df.iterrows():
    if re.sub('[0-9 ,위]', '', row["market"]) == "코스피":
        KOSPI.append(row["code"])
    elif re.sub('[0-9 ,위]', '', row["market"]) == "코스닥":
        KOSDAQ.append(row["code"])
    else:
        TRASH.append(row["code"])
    
    MKT_CAP[row["code"]] = int(re.sub('[조억원,]', '', row["size"]))

In [54]:
def add_company(date):
    
    total = get_total_df(date)
    total["mkt_cap"] = np.nan
    total["kospi"] = np.nan
    total["kosdaq"] = np.nan
    total["trash"] = np.nan
    
    for index, row in total.iterrows():
        mkt_cap = MKT_CAP[row["code"]]
        if row["code"] in KOSPI:
            kospi = 1
        else:
            kospi = 0

        if row["code"] in KOSDAQ:
            kosdaq = 1
        else:
            kosdaq = 0

        if row["code"] in TRASH:
            trash = 1
        else:
            trash = 0
        total.set_value(index,'mkt_cap', mkt_cap)
        total.set_value(index,'kospi', kospi)
        total.set_value(index,'kosdaq', kosdaq)
        total.set_value(index,'trash', trash)  
    
    return total

In [55]:
def transform_df(date):
    
    total = add_company(date)   
    var_to_transform = ['price', 'price_1', 'price_dif_1', 'sell_1', 
                        'buy_1', 'volume_1', 'variation_1', 'price_2', 
                        'price_dif_2', 'sell_2', 'buy_2', 'volume_2', 
                        'variation_2', 'price_3', 'price_dif_3', 'sell_3', 'buy_3', 
                        'volume_3', 'variation_3']
    for index, row in total.iterrows():
        for var in var_to_transform:
            if isinstance(row[var], str):

                data = row[var].split(",")
                value = ''.join(data)
                value = int(value)
                total.set_value(index, var, value)
    return total

In [13]:
focus, krx_code, INCREASE, price = open_files('14')
total_14 = transform_df('14')
focus, krx_code, INCREASE, price = open_files('20')
total_20 = transform_df('20')
focus, krx_code, INCREASE, price = open_files('21')
total_21 = transform_df('21')
focus, krx_code, INCREASE, price = open_files('22')
total_22 = transform_df('22')

In [56]:
focus, krx_code, INCREASE, price = open_files('23')
total_23 = transform_df('23')

In [57]:
total_df = pd.concat([total_14, total_20, total_21, total_22, total_23])

In [58]:
total_df.iloc[100:, :]

,name,code,time,price,time_1,price_1,price_dif_1,sell_1,buy_1,volume_1,...,variation_3,post_num_3,unique_id_3,click_3,like_3,dislike_3,mkt_cap,kospi,kosdaq,trash
100,테라젠이텍스,066700,2018-02-14 10:10,10750,2018-02-14 09:40,10900,300,10900,10850,136566,...,594,13,9,2572,21,16,3735.0,0.0,1.0,0.0
101,이오테크닉스,039030,2018-02-14 10:10,84100,2018-02-14 09:40,84400,400,84500,84400,8340,...,141,2,2,104,0,0,1524.0,0.0,1.0,0.0
102,이화전기,024810,2018-02-14 10:10,364,2018-02-14 09:40,368,0,369,368,4131858,...,2503,24,18,6003,52,48,1325.0,0.0,1.0,0.0
103,한온시스템,018880,2018-02-14 10:10,11950,2018-02-14 09:40,12000,200,12000,11950,76662,...,66,2,2,704,0,3,67793.0,1.0,0.0,0.0
104,신송홀딩스,006880,2018-02-14 10:10,6140,2018-02-14 09:40,6140,90,6150,6050,668,...,1,0,0,0,0,0,736.0,1.0,0.0,0.0
105,락앤락,115390,2018-02-14 10:10,23450,2018-02-14 09:40,23350,50,23350,23300,25104,...,76,1,1,137,2,0,13228.0,1.0,0.0,0.0
106,메디포스트,078160,2018-02-14 10:10,100400,2018-02-14 09:40,101100,2000,101200,101100,41438,...,68,12,8,3334,25,10,8228.0,0.0,1.0,0.0
107,SK디스커버리,006120,2018-02-14 10:10,49100,2018-02-14 09:40,49150,50,49200,49150,7071,...,46,0,0,0,0,0,5203.0,1.0,0.0,0.0
108,테라세미콘,123100,2018-02-14 10:10,25600,2018-02-14 09:40,25850,150,25850,25750,13868,...,249,5,5,666,2,3,3126.0,0.0,1.0,0.0
109,지엠비코리아,013870,2018-02-14 10:10,8700,2018-02-14 09:40,8790,80,8830,8790,41474,...,326,4,4,318,2,2,1791.0,1.0,0.0,0.0
110,대원산업,005710,2018-02-14 10:10,8320,2018-02-14 09:40,8320,-120,8320,8310,2305,...,12,1,1,16,1,0,1645.0,0.0,1.0,0.0
111,바디텍메드,206640,2018-02-14 10:10,18400,2018-02-14 09:40,18550,350,18550,18500,21309,...,148,1,1,242,1,3,4509.0,0.0,1.0,0.0
112,한국금융지주,071050,2018-02-14 10:10,80100,2018-02-14 09:40,79900,-100,79900,79800,34145,...,309,1,1,42,0,0,45584.0,1.0,0.0,0.0
113,현대비앤지스틸,004560,2018-02-14 10:10,12400,2018-02-14 09:40,12300,100,12300,12250,8238,...,227,1,1,87,1,1,1938.0,1.0,0.0,0.0
114,동양,001520,2018-02-14 10:10,2050,2018-02-14 09:40,2050,0,2050,2040,65914,...,219,3,3,256,2,4,4881.0,1.0,0.0,0.0
115,네오위즈,095660,2018-02-14 10:10,13900,2018-02-14 09:40,13950,-50,14000,13950,42924,...,216,9,6,1644,19,13,3123.0,0.0,1.0,0.0
116,세아베스틸,001430,2018-02-14 10:10,27950,2018-02-14 09:40,28100,-250,28150,28100,5093,...,192,1,1,30,1,0,9880.0,1.0,0.0,0.0
117,세운메디칼,100700,2018-02-14 10:10,4690,2018-02-14 09:40,4790,115,4790,4745,93072,...,16,0,0,0,0,0,2085.0,0.0,1.0,0.0
118,디에스티로봇,090710,2018-02-14 10:10,2420,2018-02-14 09:40,2425,10,2430,2420,201323,...,6300,7,5,824,4,0,1437.0,0.0,1.0,0.0
119,엘엠에스,073110,2018-02-14 10:10,8670,2018-02-14 09:40,8600,90,8600,8530,3830,...,10,1,1,42,0,0,776.0,0.0,1.0,0.0
120,옵트론텍,082210,2018-02-14 10:10,7340,2018-02-14 09:40,7320,50,7320,7290,35697,...,105,1,1,96,0,1,1744.0,0.0,1.0,0.0
121,한컴MDS,086960,2018-02-14 10:10,18500,2018-02-14 09:40,18350,-350,18400,18350,14145,...,1027,0,0,0,0,0,1659.0,0.0,1.0,0.0
122,호텔신라,008770,2018-02-14 10:40,83100,2018-02-14 10:10,83200,300,83300,83200,100619,...,2922,8,5,1752,21,11,32419.0,1.0,0.0,0.0
123,대한광통신,010170,2018-02-14 10:40,7040,2018-02-14 10:10,7020,50,7020,7010,371758,...,1058,6,5,1109,10,11,4176.0,0.0,1.0,0.0
124,포스코 ICT,022100,2018-02-14 10:40,8300,2018-02-14 10:10,8310,0,8310,8300,268236,...,4378,3,3,1449,4,10,12953.0,0.0,1.0,0.0
125,한화케미칼,009830,2018-02-14 10:40,32350,2018-02-14 10:10,32200,50,32250,32200,121089,...,2160,11,10,1729,19,16,55706.0,1.0,0.0,0.0
126,지엘팜텍,204840,2018-02-14 10:40,4765,2018-02-14 10:10,4760,130,4765,4760,243218,...,1045,5,5,1929,12,16,1494.0,0.0,1.0,0.0
127,코웰패션,033290,2018-02-14 10:40,5360,2018-02-14 10:10,5350,170,5350,5340,180603,...,2094,2,2,378,5,0,4661.0,0.0,1.0,0.0
128,대한항공,003490,2018-02-14 10:40,35350,2018-02-14 10:10,35700,300,35750,35700,76631,...,444,4,4,367,3,5,33338.0,1.0,0.0,0.0
129,대한뉴팜,054670,2018-02-14 10:40,13700,2018-02-14 10:10,13650,-150,13700,13650,14004,...,11,1,1,163,0,3,2117.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
750,SIMPAC Metal,090730,2018-02-23 15:10,11700,2018-02-23 14:40,11850,-50,11850,11750,24674,...,1,0,0,0,0,0,1514.0,0.0,1.0,0.0
751,펩트론,087010,2018-02-23 15:10,70200,2018-02-23 14:40,70000,2700,70100,70000,112904,...,164,0,0,0,0,0,5222.0,0.0,1.0,0.0
752,인터로조,119610,2018-02-23 15:10,41650,2018-02-23 14:40,41700,300,41750,41700,22077,...,15,1,1,43,1,0,4515.0,0.0,1.0,0.0
753,원익,032940,2018-02-23 15:10,5020,2018-02-23 14:40,4995,-75,5000,4990,159412,...,211,4,4,915,1,1,638.0,0.0,1.0,0.0
754,세아베스틸,001430,2018-02-23 15:10,27400,2018-02-23 14:40,27400,0,27450,27400,13767,...,13,1,1,15,0,0,9880.0,1.0,0.0,0.0
755,코오롱인더,120110,2018-02-23 15:10,73900,2018-02-23 14:40,73800,-300,73900,73800,89342,...,230,13,11,2392,20,11,19014.0,1.0,0.0,0.0
756,대화제약,067080,2018-02-23 15:10,29050,2018-02-23 14:40,29000,400,29100,29000,146285,...,277,11,7,4503,49,60,5313.0,0.0,1.0,0.0
757,경남제약,053950,2018-02-23 15:10,17550,2018-02-23 14:40,17600,-100,17650,17600,390432,...,1212,2,2,911,1,4,1957.0,0.0,1.0,0.0
758,라온시큐어,042510,2018-02-23 15:10,3610,2018-02-23 14:40,3610,10,3615,3610,351863,...,179,5,4,1386,13,17,1153.0,0.0,1.0,0.0
759,동방,004140,2018-02-23 15:10,1550,2018-02-23 14:40,1545,-15,1550,1545,163751,...,201,1,1,60,0,0,502.0,1.0,0.0,0.0
760,SG,255220,2018-02-23 15:10,5400,2018-02-23 14:40,5370,-30,5380,5370,45466,...,50,6,6,730,5,3,678.0,0.0,1.0,0.0
761,미스터블루,207760,2018-02-23 15:10,3530,2018-02-23 14:40,3525,5,3525,3515,31239,...,500,4,4,400,1,3,852.0,0.0,1.0,0.0
762,대봉엘에스,078140,2018-02-23 15:10,12350,2018-02-23 14:40,12300,-150,12300,12250,367515,...,564,27,14,4733,33,21,1380.0,0.0,1.0,0.0
763,대웅제약,069620,2018-02-23 15:10,183500,2018-02-23 14:40,184000,0,184000,183500,63845,...,365,26,11,6469,78,73,21261.0,1.0,0.0,0.0
764,성도이엔지,037350,2018-02-23 15:10,9420,2018-02-23 14:40,9400,220,9400,9380,203644,...,506,12,10,2791,28,13,1462.0,0.0,1.0,0.0
765,삼일,032280,2018-02-23 15:10,2245,2018-02-23 14:40,2240,45,2240,2235,699260,...,10,5,5,660,0,0,362.0,0.0,1.0,0.0
766,웰크론한텍,076080,2018-02-23 15:10,3130,2018-02-23 14:40,3130,-5,3135,3125,48564,...,1,0,0,0,0,0,606.0,0.0,1.0,0.0
767,더존비즈온,012510,2018-02-23 15:10,53400,2018-02-23 14:40,53200,-800,53200,53100,52192,...,601,2,2,508,2,4,15934.0,1.0,0.0,0.0
768,멕아이씨에스,058110,2018-02-23 15:10,4940,2018-02-23 14:40,4890,30,4920,4890,19615,...,1,1,1,38,0,0,265.0,0.0,1.0,0.0
769,화성밸브,039610,2018-02-23 15:10,5430,2018-02-23 14:40,5420,-80,5430,5420,1751,...,30,1,1,21,0,0,395.0,0.0,1.0,0.0
770,애경유화,161000,2018-02-23 15:10,18000,2018-02-23 14:40,18050,600,18100,18050,122815,...,93,5,4,713,3,2,5719.0,1.0,0.0,0.0
771,안트로젠,065660,2018-02-23 15:10,66500,2018-02-23 14:40,67500,-400,67500,67100,36331,...,1266,7,5,2720,14,32,5408.0,0.0,1.0,0.0
772,에이디칩스,054630,2018-02-23 15:10,2930,2018-02-23 14:40,2925,80,2925,2920,3054588,...,2507,10,10,5154,15,10,721.0,0.0,1.0,0.0
773,대우건설,047040,2018-02-23 15:10,5410,2018-02-23 14:40,5420,160,5430,5420,2171214,...,9626,29,20,11573,84,79,22568.0,1.0,0.0,0.0
774,CJ,001040,2018-02-23 15:10,168000,2018-02-23 14:40,167000,2000,167500,167000,58260,...,537,7,7,1976,18,8,49017.0,1.0,0.0,0.0
775,엔에스,217820,2018-02-23 15:10,18550,2018-02-23 14:40,18500,-150,18550,18500,30443,...,785,5,4,464,6,6,911.0,0.0,1.0,0.0
776,네오오토,212560,2018-02-23 15:10,5520,2018-02-23 14:40,5530,-70,5570,5530,21823,...,10,2,2,75,0,0,439.0,0.0,1.0,0.0
777,캐스텍코리아,071850,2018-02-23 15:10,4220,2018-02-23 14:40,4200,-80,4245,4200,77783,...,208,3,3,94,0,0,526.0,0.0,1.0,0.0
778,에이치엘비생명과학,067630,2018-02-23 15:10,8320,2018-02-23 14:40,8410,90,8420,8410,570467,...,578,52,28,30490,320,187,2188.0,0.0,1.0,0.0
779,S&T모티브,064960,2018-02-23 15:10,44600,2018-02-23 14:40,44500,-350,44500,44450,26635,...,159,0,0,0,0,0,6522.0,1.0,0.0,0.0

In [59]:
total_df = total_df.reset_index().drop(["index"], axis = 1)

In [60]:
total_df["yesterday_closing_price"] = total_df["price_1"] - total_df["price_dif_1"]

In [61]:
total_df["is_maximum"] = (((total_df["price_1"] / total_df["yesterday_closing_price"]) - 1) * 100 > 29.5) | \
(((total_df["price_2"] / total_df["yesterday_closing_price"]) - 1) * 100 > 29.5) | \
(((total_df["price_3"] / total_df["yesterday_closing_price"]) - 1) * 100 > 29.5)
total_df["is_maximum"] = total_df["is_maximum"].astype(int)

In [62]:
total_df["is_minimum"] = (((total_df["price_1"] / total_df["yesterday_closing_price"]) - 1) * 100 < -29.5) | \
(((total_df["price_2"] / total_df["yesterday_closing_price"]) - 1) * 100 < -29.5) | \
(((total_df["price_3"] / total_df["yesterday_closing_price"]) - 1) * 100 < -29.5)
total_df["is_minimum"] = total_df["is_maximum"].astype(int)

In [63]:
total_df["price_volatility"] = (((total_df[["price_1", "price_2", "price_3"]].max(axis=1)) / (total_df[["price_1", "price_2", "price_3"]].min(axis=1))) - 1) * 100

In [64]:
total_df["price_trend"] = (((total_df["price_1"] - total_df["price_2"]) < 0).astype(int) + ((total_df["price_2"] - total_df["price_3"]) < 0).astype(int)) - (((total_df["price_1"] - total_df["price_2"]) > 0).astype(int) + ((total_df["price_2"] - total_df["price_3"]) > 0).astype(int))

In [65]:
total_df["average_price_volatility"] = total_df["price_trend"] * total_df["price_volatility"] / 2

In [66]:
total_df["sell_minus_buy_1"] = total_df["sell_1"] - total_df["buy_1"]

In [67]:
total_df["sell_minus_buy_2"] = total_df["sell_2"] - total_df["buy_2"]

In [68]:
total_df["sell_minus_buy_3"] = total_df["sell_3"] - total_df["buy_3"]

In [70]:
total_df["is_price_gap_stable"] = ((total_df["sell_minus_buy_1"] == total_df["sell_minus_buy_2"]) & (total_df["sell_minus_buy_2"] == total_df["sell_minus_buy_3"])).astype(int)

In [71]:
total_df["price_gap_volatility"] = (((total_df[["sell_minus_buy_1", "sell_minus_buy_2", "sell_minus_buy_3"]].max(axis=1)) / (total_df[["sell_minus_buy_1", "sell_minus_buy_2", "sell_minus_buy_3"]].min(axis=1)))) - 1

In [72]:
total_df["is_like_higher"] = (total_df["like_3"] > total_df["dislike_3"]).astype(int)

In [73]:
total_df["volume_trend"] = ((((total_df["volume_3"]) - (total_df["volume_2"] * 1+1e-3)) \
 / ((total_df["volume_2"]) - (total_df["volume_1"] * 1-1e-4))) - 1) * 100

In [74]:
total_df["post_num_trend"] = ((((total_df["post_num_3"]) - (total_df["post_num_2"] * 1+1e-3)) \
 / ((total_df["post_num_2"]) - (total_df["post_num_1"] * 1-1e-4))) - 1) * 100

In [75]:
total_df["unique_id_trend"] = ((((total_df["unique_id_3"]) - (total_df["unique_id_2"] * 1+1e-3)) \
 / ((total_df["unique_id_2"]) - (total_df["unique_id_1"] * 1-1e-4))) - 1) * 100

In [76]:
total_df["click_trend"] = ((((total_df["click_3"]) - (total_df["click_2"] * 1+1e-3)) \
 / ((total_df["click_2"]) - (total_df["click_1"] * 1-1e-4))) - 1) * 100

In [78]:
total_df["price_increase"] = ((total_df["price"] / total_df["price_3"]) - 1) * 100

In [79]:
total_df["did_price_increase"] = (total_df["price_increase"] > 0).astype(int)

In [80]:
total_df.to_json('first_data_940_weiwei.json', orient='values')